.title-div {
  display: flex;
  justify-content: center;
  
}

.status-div{
  display: flex;
  justify-content: center;
}

.status-button{
  display: flex;
  justify-content: center;
}

.lanesirkel{
  height: 300px !important;
  width: 300px !important;
  
}
